* {
  margin: 0;
  padding: 0;
}

/* COMMON CSS  */

.btn {
  padding: 17px 25px;
  border-radius: 2px;
  background: rgb(245, 44, 44);
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.btn-overlay {
  color: #444;
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: 15px;
}

.btn-primary {
  background: #fff;
  color: #000;
  margin-left: 15px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: 20px 0;
}

.menu > ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  margin-right: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: #444;
  font-size: 19px;
}

.menu ul li a:hover {
  color: rgb(245, 44, 44);
}

/* BANNER-AREA-STARTED  */

.banner-area {
  background-image: url("../img/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content h1 {
  font-size: 85px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-content span {
  color: rgb(245, 44, 44);
}

.banner-content p {
  font-size: 22px;
  color: #fff;
  width: 50%;
  margin: auto;
}

.banner-content button {
  margin-top: 20px;
}

/* SECTION-CONTAINER  */

.service-area {
  display: flex;
  background-image: url("../img/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.service-box {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 220px;
  height: 150px;
  margin: 10px;
}

.service-box img {
  width: 100px;
}

.service-content {
  color: #fff;
  width: 50%;
}

.service-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.service-content span {
  color: rgb(245, 44, 44);
}

.service-content p {
  font-size: 22px;
  margin-bottom: 10px;
}

.service-client-content {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.service-client-content img {
  width: 70px;
  border-radius: 50px;
  margin-right: 25px;
}

.service-client-content button {
  margin-left: 80px;
}
